{% extends 'base.html' %}

{% block styles %}
    <style>
        body, html {
            height: 100%;
        }

        .messages-box {
            flex: 1;
            overflow-y: auto;
        }

        .messages-list {
            padding-left: 0;
        }

        .message {
            margin-bottom: 15px;
            list-style: none;
        }

        .message-text {
            padding: 10px;
            border-radius: 5px;
        }

        .sent {
            background-color: #dcf8c6;
            align-self: flex-end;
        }

        .received {
            background-color: #f1f0f0;
            align-self: flex-start;
        }

        .message-content {
            line-height: 1.5; /* Line height */
            font-family: "Times New Roman", serif; /* Font family */
            font-size: 20px; /* Font size */
            text-align: justify; /* Text alignment */
            letter-spacing: 0.5px; /* Space between characters */
            word-spacing: 1px; /* Space between words */
        }


        .message-form {
            display: flex;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: #f8f9fa;
        }

        .message-input {
            flex: 1;
            border-radius: 0;
            border-right: none;
            min-height: 200px;
            overflow-y: auto;
        }

        .btn-send {
            border-radius: 0;
        }

        .chat-container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        #loadingSpinner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }


    </style>
{% endblock %}


{% block content %}
    <div class="chat-container">

        <div id="loadingSpinner" class="d-none">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div class="card flex-grow-1">
            <div class="card-header bg-primary text-white">
                <a href="" class="text-white" style="text-decoration: none;">
                    GPT Grading
                </a>
                <!-- Timer added to the card header -->
                <span class="float-right">
                    Time left: <span id="time-left">60:00</span>
                </span>
            </div>
            <div class="card-body messages-box">

                <ul class="list-unstyled messages-list">

                    <li class="message received">
                        <div class="message-text">
                            <div class="message-sender">
                                <b>Essay Question in {{ year_display }}</b>
                            </div>
                            <div class="message-content">
                                {{ random_question.question_text | linebreaksbr}}
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <br><br>
            <br><br>
            <br><br>
        </div>
        <form class="message-form">
            {% csrf_token %}
            <div class="input-group">
                <textarea type="text" class="form-control message-input" placeholder="Type your essay..."></textarea>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-send">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        const messagesList = document.querySelector('.messages-list');
        const messageForm = document.querySelector('.message-form');
        const messageInput = document.querySelector('.message-input');

        //Initialize the timer
        let totalSeconds = 3600;
        let countdownInterval;

        // Function to start the timer
        function startTimer() {
            countdownInterval = setInterval(() => {
                const minutes = Math.floor(totalSeconds / 60);
                const seconds = totalSeconds % 60;

                // Pad the minutes and seconds with leading zeros, if required
                countdownEl.textContent = `${String(minutes).padStart(2, "0")}:${String(seconds).padStart(2, "0")}`;

                if (totalSeconds === 0) {
                    clearInterval(countdownInterval);

                    // Hide input box and send button
                    //document.querySelector('.message-input').style.display = 'none';
                    document.querySelector('.btn-send').style.display = 'none';

                    // Show a timeout message
                    alert("Time's up!");
                } else {
                    totalSeconds--;
                }
            }, 1000);
        }

        const countdownEl = document.getElementById("time-left");
        startTimer();

        messageForm.addEventListener('submit', (event) => {
            event.preventDefault();

            const message = messageInput.value.trim();
            if (message.length === 0) {
                return;
            }

            const loadingSpinner = document.getElementById("loadingSpinner");
            loadingSpinner.classList.remove("d-none");

            const messageItem = document.createElement('li');
            messageItem.classList.add('message', 'sent');

            // Create button for toggling the response
            const toggleButton = document.createElement('button');
            toggleButton.innerText = 'Show/Hide Essay';
            toggleButton.addEventListener('click', function () {
                const messageContent = this.nextElementSibling;
                if (messageContent.style.display === 'none' || messageContent.style.display === '') {
                    messageContent.style.display = 'block';
                } else {
                    messageContent.style.display = 'none';
                }
            });

            // Create the message container
            const messageContainer = document.createElement('div');
            messageContainer.innerHTML = `
    <div class="message-text">
        <div class="message-content">
            ${message.replace(/\n/g, '<br>')}
        </div>
    </div>
    `;
            messageContainer.style.display = 'none';  // Initially hide the message

            {#    messageItem.innerHTML = `#}
            {#<div class="message-text">#}
            {#    <div class="message-sender">#}
            {#        <b>You</b>#}
            {#    </div>#}
            {#    <div class="message-content">#}
            {#        ${message}#}
            {#    </div>#}
            {#</div>`;#}

            // Append button and message container to message item
            messageItem.appendChild(toggleButton);
            messageItem.appendChild(messageContainer);

            messagesList.appendChild(messageItem);
            messageInput.value = '';

            messageForm.style.display = 'none'; //After Submit, Hide the form

            // Pause the timer
            clearInterval(countdownInterval);

            fetch('', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: new URLSearchParams({
                    'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'message': message
                })
            })
                .then(response => response.json())
                .then(data => {
                    const response = data.response.replace(/\n/g, '<br>');
                    const messageItem = document.createElement('li');
                    messageItem.classList.add('message', 'received');
                    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>Grading</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
                    messagesList.appendChild(messageItem);

                    // Auto-scroll to the latest message
                    messagesList.scrollTop = messagesList.scrollHeight;
                    loadingSpinner.classList.add("d-none");
                });
        });

    </script>
{% endblock %}